@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: "Roboto", sans-serif ;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #FFCD5C;
    color: #161616;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
}

.nav h1 {
    font-size: 28px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.list-item {
  margin: 16px;
}

.list-item a {
    text-decoration: none;
    color: black;
}

.list-item a:hover {
    color: rgba(0, 0, 0, 0.63);
}

.about-me {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
}

.presentation {
    width: 500px;
    height: 250px;
}

.presentation p {
    margin: 16px 0;
}

.photo-card {
    width: 250px;
    height: 250px;
    background-image: url("../img/profile.jpg");
    background-size: cover;
    border-radius: 5px;
}

.projects {
    height: 100%;
    margin: 16px 0;
}

.projects-list {
    list-style-type: none;
}

.skills {
    margin: 16px 0;
}

.skills-container {
}

footer {
    text-align: center;
}